
Options +SymLinksIfOwnerMatch

# 末尾スラッシュの徹底
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_URI} !/$
  RewriteCond %{REQUEST_URI} !\.[^/\.]+$
  RewriteRule .* %{REQUEST_URI}/ [R=301,L]
</IfModule>

# index.php として実行 for ashigaru
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
  RewriteRule ^(.*) - [E=BASE:%1]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [QSA,L]
</IfModule>
