
/* --- for reset css --- */
@import 'remedy';

/* --- define --- */
$mainColor: #76b8ee;
$barBackground: linear-gradient(66deg, rgba(64,59,57,1) 0%, rgba(29,96,157,1) 79%);
$sideMenuShow: false;

/* --- includes --- */
@import 'common';
@import 'login';
