/* --- for reset css --- */
/* Global Remedies
******************/
/* Use border-box by default, globally */
*, ::before, ::after {
  box-sizing: border-box;
}

/*
* Consistent line spacing...
* CSS Inline Layout Module Level 3: https://drafts.csswg.org/css-inline-3/#line-sizing-property
*/
html {
  line-sizing: normal;
}

/* Remove the tiny space around the edge of the page */
body {
  margin: 0;
}

/* Headings
***********/
/* Switch to rem units for headings */
/* @@@ Initial values are based on existing browser defaults */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

/* Keep h1 margins consistent, even when nested */
h1 {
  margin: 0.67em 0;
}

/* Typography
*************/
/* Overflow by default is bad */
pre {
  white-space: pre-wrap;
}

/*
* 1. Solid, thin horizontal rules
* 2. Remove Firefox `color: gray`
* 3. Remove default `1px` height, and common `overflow: hidden`
*/
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

/* Embedded Elements
********************/
/*
* 1. Block display is usually what we want
* 2. Remove strange space-below when inline
* 3. Responsive by default
*/
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

/*
* Maintain intrinsic aspect ratios when `max-width` is applied
* (iframe, embed, and object have no intrinsic ratio, set height explicitly)
*/
img, svg, video, canvas {
  height: auto;
}

/*
* There is no good reason elements default to 300px,
* and audio files are unlikely to come with a width attribute
*/
audio {
  width: 100%;
}

/* Old Browsers
***************/
/* Remove the border on images inside links in IE 10 and earlier */
img {
  border-style: none;
}

/* Hide the overflow in IE 10 and earlier */
svg {
  overflow: hidden;
}

/* Default block display on HTML5 elements */
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/*
* 1. Add the correct box sizing in IE 10
* 2. Remove the padding in IE 10
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* --- define --- */
/* --- includes --- */
/*
* Manage common styles
*/
body {
  min-width: 320px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a:link {
  color: #333;
}

a:visited {
  color: #333;
}

a:hover {
  color: white;
}

a:active {
  color: #333;
}

.roboto, html {
  font-family: "Roboto", sans-serif;
}

.font-awesome {
  font-family: "Font Awesome 5 Free";
}

html {
  height: 100%;
}
html body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(66deg, #403b39 0%, #1d609d 79%);
  background-size: cover;
  height: 100px;
  display: flex;
  font-size: 0.8rem;
  box-shadow: 0 3px 25px 10px rgba(0, 0, 0, 0.16);
}
header #cap {
  display: flex;
  align-items: center;
}
header #cap .logo {
  width: 150px;
  padding-left: 20px;
}
header #cap .title {
  padding-left: 20px;
}
header #cap .title * {
  color: white;
  font-weight: bold;
  white-space: nowrap;
}
header #cap .title h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
header #cap .title h2 {
  font-size: 1rem;
}
header nav#global-menu {
  padding: 0 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
header nav#global-menu > ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header nav#global-menu > ul li {
  flex-grow: 1;
  min-width: 65px;
  max-width: 80px;
}
header nav#global-menu > ul li a {
  width: 100%;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  line-height: 1;
  text-decoration: none !important;
  border-bottom: solid 7px transparent;
  color: rgba(255, 255, 255, 0.5) !important;
  transition: border-color 0.1s, color 0.1s, background 0.1s;
  padding-top: 15px;
}
header nav#global-menu > ul li a i {
  display: block !important;
  margin-bottom: 10px;
  font-size: 2.5rem;
}
header nav#global-menu > ul li a:hover {
  border-bottom: solid 7px white;
  color: white !important;
  transition: border-color 0.1s, color 0.1s, background 0.1s;
  background: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
header nav#global-menu > ul li.active a {
  border-bottom: solid 7px white;
  color: white !important;
  background: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
header nav#global-menu > button#menu-sw {
  display: none;
  border: none;
  background: transparent;
  color: #eeeeee;
  font-size: 2.5rem;
  padding: 5px 10px;
}
@media screen and (max-width: 960px) {
  header nav#global-menu {
    flex-direction: row-reverse;
    align-items: center;
  }
  header nav#global-menu > ul {
    display: none;
  }
  header nav#global-menu > button#menu-sw {
    display: block;
  }
}

main {
  flex-grow: 1;
  display: flex;
}
main nav#side-menu {
  display: none;
  box-shadow: -10px 0 25px 0px rgba(0, 0, 0, 0.1) inset;
}
main nav#side-menu > div {
  position: sticky;
  top: -10px;
  padding: 0;
}
main nav#side-menu > div a {
  display: block;
  padding: 10px 20px;
  text-decoration: underline;
}
main nav#side-menu > div > ul {
  margin-top: 20px;
}
main nav#side-menu > div > ul > li {
  border-bottom: solid 1px #dddddd;
  padding: 10px 0;
}
main nav#side-menu > div > ul > li > a {
  font-weight: bold;
}
main nav#side-menu > div > ul > li > ul > li a {
  padding: 2px 20px 2px 20px;
  font-size: 0.9rem;
}
main nav#side-menu > div > ul > li > ul > li:first-child {
  padding-top: 0px;
}
main nav#side-menu > div > ul > li > ul > li > a:hover, main nav#side-menu > div > ul > li > ul > li.active > a {
  color: #76b8ee;
  background: rgba(118, 184, 238, 0.1);
}
main nav#side-menu > div > ul > li > a:hover, main nav#side-menu > div > ul > li.active > a {
  background: rgba(118, 184, 238, 0.2);
  color: #76b8ee;
}
main nav#side-menu > div li {
  white-space: nowrap;
}
main nav#side-menu > div i {
  font-size: 1.5rem;
  margin-right: 5px;
  vertical-align: middle;
}
main nav#side-menu > div i ~ span {
  vertical-align: middle;
}
main nav#side-menu > div button.uk-offcanvas-close {
  border: none;
  background: none;
  color: #333333;
}
main nav#side-menu > .uk-offcanvas-bar {
  background: white;
  box-shadow: 25px 0 25px -25px rgba(0, 0, 0, 0.5) inset;
}
@media screen and (max-width: 960px) {
  main nav#side-menu > div {
    position: inherit;
    top: 0;
  }
  main nav#side-menu > div > ul {
    margin-top: 0;
  }
}
main #content {
  flex-grow: 1;
}
main #content > section {
  padding: 0 40px;
  max-width: 1500px;
  margin: 40px auto;
}
main #content > section.title h1 {
  font-size: 2.5rem;
  border-bottom: solid 1px #dddddd;
  padding-bottom: 20px;
}
main #content > section.title h1 i {
  margin-right: 10px;
}
main #content > section.title a {
  text-decoration: underline;
}
main #content > section.title ul ~ h1 {
  margin-top: 10px;
}

footer {
  position: relative;
  z-index: 100;
  clear: both;
  background: linear-gradient(66deg, #403b39 0%, #1d609d 79%);
  background-size: cover;
  color: #eeeeee;
  padding: 20px;
  text-align: center;
}
footer > small > div {
  font-size: 18px;
  color: #eeeeee;
}

.uk-offcanvas-bar {
  width: 200px;
}

.uk-offcanvas-flip .uk-offcanvas-bar {
  left: auto;
  right: -200px;
}

.uk-offcanvas-flip.uk-offcanvas-container-animation {
  left: -200px;
}

/*
* Login form styles
*/
main.login section form button[type=submit] i {
  margin-left: 10px;
}

/*# sourceMappingURL=manage.css.map */